<div class='row w-100 border-button text-white'>
    <div class='col-md-10 text-white'>
        <%= link_to chat_list, data: { turbo_frame: '-_to' } do %>
        <%= chat_list.id %>
    </div>
</div>
